<link rel="stylesheet" href="/assets/css/forgot-password.css" />

{{> header}}

<div class="wrapper">

	<div class="account-form-wrapper">
		<form method="post" class="account">
			<h2>{{ locale.account.forgotPassword.header }}</h2>
			<p>{{ locale.account.forgotPassword.sub }}</p>
			<div>
				<label for="input">{{ locale.account.forgotPassword.input }}</label>
				<input name="input" id="input" required>
			</div>
			<div class="buttons">
				<button type="submit">{{ locale.account.forgotPassword.submit }}</button>
			</div>
		</form>
	</div>
</div>

<script src="/assets/js/forgot-password.bundled.js"></script>