<div class="sidebar">
    <div class="section">
        <h5>Getting started</h5>
        <a href="/docs/welcome">Welcome</a>
        <a href="/docs/search">Search</a>
    </div>

    <div class="section">
      <h5>WiiU Guides</h5>
      <a href="/docs/network-wiiu-legacy">Network Patch (legacy)</a>
      <a href="/docs/network-wiiu-env">Network Patch (env)</a>
      <a href="/docs/installing-juxt-wiiu">Installing Juxt</a>
    </div>

    <div class="section">
        <h5>Error codes - Juxt</h5>
        <a href="/docs/juxt-errorcodes/JXT-598-0000">JXT-598-0000</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0001">JXT-598-0001</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0002">JXT-598-0002</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0003">JXT-598-0003</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0004">JXT-598-0004</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0005">JXT-598-0005</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0006">JXT-598-0006</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0007">JXT-598-0007</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0008">JXT-598-0008</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0009">JXT-598-0009</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0010">JXT-598-0010</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0011">JXT-598-0011</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0012">JXT-598-0012</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0013">JXT-598-0013</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0014">JXT-598-0014</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0015">JXT-598-0015</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0016">JXT-598-0016</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0017">JXT-598-0017</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0018">JXT-598-0018</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0019">JXT-598-0019</a>
        <a href="/docs/juxt-errorcodes/JXT-598-0020">JXT-598-0020</a>
        <a href="/docs/juxt-errorcodes/JXT-598-1XXX">JXT-598-1XXX</a>
        <a href="/docs/juxt-errorcodes/JXT-598-2XXX">JXT-598-2XXX</a>
        <a href="/docs/juxt-errorcodes/JXT-598-3XXX">JXT-598-3XXX</a>
        <a href="/docs/juxt-errorcodes/JXT-598-4XXX">JXT-598-4XXX</a>
        <a href="/docs/juxt-errorcodes/JXT-598-5XXX">JXT-598-5XXX</a>
    </div>

</div>

<script src="/assets/js/docs-handler.js">
  
</script>