<div class="sidebar">
    <div class="section">
        <h5>Getting started</h5>
        <a href="/docs/welcome" class="active">Welcome</a>
        <a href="/docs/installing-juxt">Installing Juxt</a>
        <a href="/docs/troubleshoot-errors">Troubleshoot errors</a>
    </div>

    <div class="section">
        <h5>Error codes - Juxt</h5>
        <a href="/docs/error/JXT-598-0000">JXT-598-0000</a>
        <a href="/docs/error/JXT-598-0001">JXT-598-0001</a>
        <a href="/docs/error/JXT-598-0002">JXT-598-0002</a>
        <a href="/docs/error/JXT-598-0003">JXT-598-0003</a>
        <a href="/docs/error/JXT-598-0009">JXT-598-0009</a>
        <a href="/docs/error/JXT-598-0010">JXT-598-0010</a>
        <a href="/docs/error/JXT-598-0011">JXT-598-0011</a>
        <a href="/docs/error/JXT-598-0015">JXT-598-0015</a>
        <a href="/docs/error/JXT-598-0020">JXT-598-0020</a>
        <a href="/docs/error/JXT-598-1XXX">JXT-598-1XXX</a>
        <a href="/docs/error/JXT-598-2XXX">JXT-598-2XXX</a>
        <a href="/docs/error/JXT-598-3XXX">JXT-598-3XXX</a>
        <a href="/docs/error/JXT-598-4XXX">JXT-598-4XXX</a>
        <a href="/docs/error/JXT-598-5XXX">JXT-598-5XXX</a>
    </div>

    <div class="section">
        <h5>Error codes - Beans</h5>
        <a href="/docs/error/JXT-598-0000">Black Beans</a>
        <a href="/docs/error/JXT-598-0001">Black-Eyed Peas</a>
        <a href="/docs/error/JXT-598-0002">Cannellini Beans</a>
        <a href="/docs/error/JXT-598-0003">Chickpeas (Garbanzo Beans)</a>
        <a href="/docs/error/JXT-598-0009">Great Northern Beans</a>
        <a href="/docs/error/JXT-598-0010">Kidney Beans</a>
        <a href="/docs/error/JXT-598-0011">Lima Beans</a>
        <a href="/docs/error/JXT-598-0015">Pinto Beans</a>
        <a href="/docs/error/JXT-598-0020">Fava Beans</a>
        <a href="/docs/error/JXT-598-1XXX">Navy Beans</a>
    </div>
</div>