<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="an accurate-as-possible server emulation project for nintendo network-enabled devices">

<link rel="icon" href="/assets/favicon.ico">
<link rel="apple-touch-icon" href="/assets/favicon.ico">
<link rel="mask-icon" href="/assets/images/pretendo-logo.svg">

<link href="https://fonts.googleapis.com/css?family=Overpass+Mono|Space+Mono" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/pretendo.css">


<title>pretendo</title>