<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A close-as-possible server emulation project for the 3DS and Wii U.">

<link rel="icon" href="/assets/favicon.ico">
<link rel="apple-touch-icon" href="/assets/favicon.ico">
<link rel="mask-icon" href="/assets/images/pretendo-logo.svg">

<title>Pretendo</title>

<link rel="stylesheet" href="/assets/css/pretendo.css">
