<nav class="navWrapper" id="nav">
	<a class="navItem brand" href="/">PRETENDO</a>
	<a class="navItem" href="/news">News</a>
	<a class="navItem" href="/progress">Progress</a>
	<a class="navItem" href="/contact">Contact</a>
    <div class="navSpread"></div>
{{#if user.isLoggedIn }}
    <a class="navItem" href="#">profile</a>
{{else}}
    <a class="navItem" href="#">login</a>
{{/if}}
    <a class="navItem hamburger" id="navToggle">ICON</a>
</nav>