<nav class="navWrapper" id="nav">
	<a class="navItem brand" href="/">{{ locale.nav.brand }}</a>
	<a class="navItem" href="/connecting">Connecting</a>
	<a class="navItem" href="/cemu">Cemu</a>
	<a class="navItem" href="/faq">FAQ</a>
	<a class="navItem" href="https://github.com/PretendoNetwork/" target="_blank">GitHub</a>
	<a class="navItem" href="https://invite.gg/pretendo" target="_blank">Discord</a>
	<div class="navSpread"></div>
	<a class="navItem hamburger" id="navToggle">
		<span></span>
		<span></span>
		<span></span>
	</a>
</nav>