<nav class="navWrapper" id="nav">
	<a class="navItem brand" href="/">{{ locale.nav.brand }}</a>
	<a class="navItem" href="/connecting">{{ locale.nav.connecting }}</a>
	<a class="navItem" href="/cemu">{{ locale.nav.Cemu }}</a>
	<a class="navItem" href="/faq">{{ locale.nav.faq }}</a>
	<a class="navItem" href="https://github.com/PretendoNetwork/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg> GitHub</a>
	<a class="navItem" href="https://invite.gg/pretendo" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg> Discord</a>
	<div class="navSpread"></div>
	<a class="navItem hamburger" id="navToggle">
		<span></span>
		<span></span>
		<span></span>
	</a>
</nav>
