<div class="feature-list-wrapper">
	<div class="feature-list-top">
		<div class="feature-progress-chart">
			<p class="percentage-label"></p>
			<canvas></canvas>
		</div>
		<div class="progress-title">
			<h3>{{ data.title }}</h3>
		</div>
	</div>
	<hr />
	<div class="feature-list">
		{{#each data.features}}
		<div class="feature">
			{{> custom-checkbox checked=checked }}
			<span>{{ name }}</span>
		</div>
		{{/each}}
	</div>
</div>