# The defaults in this file are meant for the docker-compose based setup.

# Core
PN_WEBSITE_PUBLIC_BASE_URL=http://localhost:3000
PN_WEBSITE_PUBLIC_CDN_BASE_URL=http://pretendo.localhost:3902
PN_WEBSITE_PUBLIC_COOKIE_SECURE=false
PN_WEBSITE_PUBLIC_REDIRECT_HOSTS=localhost:3000

# Optional - Authentication
PN_WEBSITE_GRPC_HOST=localhost:8123
PN_WEBSITE_GRPC_API_KEY=12345678123456781234567812345678
PN_WEBSITE_API_BASE=http://localhost:8056
PN_WEBSITE_API_BASE_HOST=api.pretendo.cc


# --- Partially configured features ---
# You will need to fill in some parts in this section before these features start working

# Optional - Github progress tracking:
PN_WEBSITE_GITHUB_API_TOKEN=

# Optional - Discord:
PN_WEBSITE_DISCORD_BOT_TOKEN=
PN_WEBSITE_DISCORD_CLIENT_ID=
PN_WEBSITE_DISCORD_CLIENT_SECRET=
PN_WEBSITE_DISCORD_GUILD_ID=
PN_WEBSITE_DISCORD_TESTER_ROLE_ID=
PN_WEBSITE_DISCORD_SUPPORTER_ROLE_ID=

# Optional - Donation features + rewards (Requires discord):
PN_WEBSITE_STRIPE_SECRET_KEY=
PN_WEBSITE_STRIPE_WEBHOOK_SECRET=
PN_WEBSITE_STRIPE_NOTIFICATION_EMAIL=notifs@example.com
PN_WEBSITE_MONGO_CONNECTION_STRING=mongodb://localhost:27017/account?directConnection=true
PN_WEBSITE_SMTP_HOST=localhost
PN_WEBSITE_SMTP_USER=localhost
PN_WEBSITE_SMTP_PORT=1025
PN_WEBSITE_SMTP_SECURE=false
PN_WEBSITE_SMTP_FROM_EMAIL=pretendo@example.com
PN_WEBSITE_SMTP_FROM_NAME=Pretendo Network

# Optional - Captchas:
PN_WEBSITE_HCAPTCHA_SECRET_KEY=
PN_WEBSITE_PUBLIC_HCAPTCHA_SITE_KEY=

# Optional - Discourse SSO:
PN_WEBSITE_DISCOURSE_SSO_SECRET=
