<!DOCTYPE html>
<html>
	<head>
		<!-- general -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- windows/ios/chrome -->
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="application-name" content="Pretendo">
		<meta name="msapplication-TileColor" content="#673AB7">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="theme-color" content="#673db6">
		<!-- open graph/embeds -->
		<meta property="og:title" content="Pretendo Network">
		<meta property="og:description" content="Pretendo is an open source Nintendo Network replacement that aims to build custom servers for the WiiU and 3DS family of consoles. Our goal is to preserve the online functionality of these consoles, to allow players to continue to play their favorite WiiU and 3DS games to their fullest capacity.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://pretendo.network/">
		<meta property="og:image" content="http://pretendo.network/assets/og_image.png">
		<meta property="og:image:alt" content="Pretendo logo">
		<meta property="og:site_name" content="Pretendo">
		<!-- google seo -->
		<meta name="description" content="Pretendo is an open source Nintendo Network replacement that aims to build custom servers for the WiiU and 3DS family of consoles. Our goal is to preserve the online functionality of these consoles, to allow players to continue to play their favorite WiiU and 3DS games to their fullest capacity.">
		<meta name="robots" content="index, follow">
		<!-- favicon -->
		<link rel="shortcut icon" href="/assets/icons/favicon.ico"><title>Pretendo</title>
		<!-- css files -->
		<link rel="stylesheet" href="/assets/css/main.css">
		<!-- favicon -->
		<link rel="shortcut icon" href="/assets/icons/favicon.ico">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="main-body">
			{{{ body }}}
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
		<script src="/assets/js/progress-charts.js"></script>
	</body>
</html>