<!DOCTYPE html>
<html>
	<head>
		<title>New Pretendo website</title>
		<link rel="stylesheet" href="/main.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui, viewport-fit=cover">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>