<link rel="stylesheet" href="/assets/css/404.css" />

<div class="wrapper">

	{{> header}}

	<div class="main">404</div>
    <div class="info">{{ localeHelper locale "error" "not found" }}<br> {{url}}</div>


{{> footer }}

<script src="/assets/js/404.js" />