<link rel="stylesheet" href="/assets/css/404.css">

{{> header}}

<div class="wrapper">
    <div class="title404"><b>404</b></div>
    <div class="dis404">{{ locale.notfound.description }}</div>
    <img src="/assets/images/shockedbandwidth.svg" class="shockedbandwidth"/>
	{{> footer }}
</div>

