<link rel="stylesheet" href="/assets/css/404.css">

{{> header}}

<div class="wrapper">
    <div class="status"><b>404</b></div>
    <div class="description">{{ locale.notfound.description }}</div>
    <img src="/assets/images/shockedbandwidth.svg" class="shocked-bandwidth"/>
    {{> footer }}
</div>

