<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    <body>
        {{> navbar }}

        <h1>Admin panel here</h1>
        <h2>register</h2>
        <form action="/admin/api/v1/register" method="POST">
            <input type="text" name="username">
            <input type="text" name="password">
            <button>submit register</button>
        </form>
        
        <h2>login</h2>
        <form action="/admin/api/v1/login" method="POST">
            <input type="text" name="username">
            <input type="text" name="password">
            <button>submit login</button>
        </form>

        <h2>create blog post</h2>
        <form action="/admin/api/v1/newpost" method="POST">
            <p>content</p>
            <textarea name="content" cols="30" rows="10"></textarea>
            <p>category</p>
            <input type="text" name="category">
            <p>title</p>
            <input type="text" name="title">
            <p>author id - yea, authors dont work yet. just ignore</p>
            <input type="text" name="author">
            <button>submit login</button>
        </form>
        <br>    
        <a href="/admin/api/v1/check">Check if logged in</a>
        <br>    
        <a href="/admin/api/v1/logout">Logout</a>

        {{> footer }}
    </body>
</html>
