doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Pretendo
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons', rel='stylesheet', type='text/css')
        link(href='https://unpkg.com/vuetify/dist/vuetify.min.css', rel='stylesheet', type='text/css')
        
        link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/images/favicons/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/images/favicons/favicon-16x16.png')
        link(rel='manifest', href='/images/favicons/site.webmanifest')
        link(rel='mask-icon', href='/images/favicons/safari-pinned-tab.svg', color='#603cba')
        link(rel='shortcut icon', href='/images/favicons/favicon.ico')
        meta(name='msapplication-TileColor', content='#603cba')
        meta(name='msapplication-config', content='/images/favicons/browserconfig.xml')
        meta(name='theme-color', content='#603cba')

    body
        #app
            v-app(dark)
                v-navigation-drawer(title='Pretendo', fixed, clipped, drawer, v-model='drawer', app)
                    v-list(dense)
                        v-list-tile(@click)
                            v-list-tile-action
                                v-icon videogame_asset
                            v-list-tile-content
                                v-list-tile-title Game Servers                        
                v-toolbar(fixed, app, :clipped-left='clipped')
                    v-toolbar-side-icon(@click.native.stop='drawer = !drawer')
                    v-toolbar-title(v-text='title')
                main
                    v-content
                        v-container(fluid)
                            page
                v-footer(:fixed='fixed', app)
                    span © 2018
                    
        block content

        script(src='https://unpkg.com/vue/dist/vue.js')
        script(src='https://unpkg.com/vuetify/dist/vuetify.js')
        script.
            Vue.component('page', {
                template: '#page'
            });
            new Vue({
                el: '#app',
                data: {
                    clipped: true,
                    drawer: true,
                    title: 'Pretendo'
                }
            })
