<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head-common }}
	</head>
	<body class="flex">
		{{> navbar }}

		<div class="contentWrapper bgLinesSmall">
			<div class="bgExtrude"></div>

			<section class="bigCardWrapper">
				<div class="bigCard">
					<h1 class="txt-title">{{ locale.cemu.title }}</h1>
					<h2>{{ locale.cemu.text }}</h2>
				</div>
			</section>
		</div>
		{{> footer-default }}
	</body>
</html>
