<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head-common }}
	</head>
	<body class="flex">
		{{> navbar }}

		<div class="contentWrapper bgLinesSmall">
			<div class="bgExtrude"></div>

			<section class="bigCardWrapper">
				<div class="bigCard">
					<h1 class="txt-title">Cemu</h1>
					<h2>Pretendo is currently not usable by the general public. When the network becomes public, this will contain steps on connecting to the network using Cemu</h2>
				</div>
			</section>
		</div>
		{{> footer-default }}
	</body>
</html>