<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-pnid.css">
    </head>
    <body class="flex">
        {{> nav-default }}
        <div class="contentWrapper userPage">
            <nav class="userNav">
                <p>Navigation</p>
            </nav>
            <section class="contentCard">
                <p class="txt-highlight">User profile</p>
                <h1 class="txt-title small">PNID dashboard</h1>
            </section>
        </div>
        {{> footer-default }}
    </body>
</html>
