<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-pnid.css">
    </head>
    <body class="flex">
        {{> nav-default }}
        <div id="email_validation_popup" class="email_popup{{#if_eq user.email_validated true}} hide{{/if_eq}}"><p>Your email has not been validated yet. You are restricted from certain features.</p><span><button class="btn-alt small">Change email</button> <button class="btn small">Send again</button></span></div>
        <div class="contentWrapper userPage">
            {{> nav-dashboard }}
            <section class="contentCard">
                <p class="txt-highlight">ERROR</p>
                <h1 class="txt-title small">ERROR</h1>
            </section>
        </div>  
        {{> footer-default }}
    </body>
</html>
