<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-pnid.css">
    </head>
    <body class="flex">
        {{> nav-default }}
        <div class="contentWrapper userPage">
            <h1>PNID dashboard</h1>
        </div>
        {{> footer-default }}
    </body>
</html>
