<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head-common }}
		<!-- page specific -->
		<link rel="stylesheet" href="/assets/css/pretendo-faq.css">
	</head>
	<body class="flex">
		{{> navbar }}

		<div class="contentWrapper bgLinesSmall">
			<div class="bgExtrude"></div>

			<section class="bigCardWrapper">
				<div class="bigCard">
					<h1 class="txt-title">FAQ</h1>
					<div class="faqs">
						<details>
							<summary>What is Pretendo?</summary>
							<p class="text">Pretendo is an open source Nintendo Network replacement that aims to build custom servers for the WiiU and 3DS family of consoles. Our goal is to preserve the online functionality of these consoles, to allow players to continue to play their favorite WiiU and 3DS games to their fullest capacity</p>
						</details>

						<details>
							<summary>How do I use Pretendo?</summary>
							<p class="text">Pretendo is currently not in a state that is ready for public use. However, once it is you will be able to use Pretendo simply by running our homebrew patcher on your console</p>
						</details>

						<details>
							<summary>Is there an ETA for XYZ?</summary>
							<p class="text">We do not have an exact ETA for any specific features or the project as a whole. There are many parts to the network, updates release for them individually whenever they are ready (for example updates to the account server are (almost always) independent on other parts of the network, such as the friends server). Due to that we cannot give an exact ETA</p>
						</details>

						<details>
							<summary>Does Pretendo work on Cemu/emulators?</summary>
							<p class="text">
								Pretendo is designed for the WiiU and (eventually) 3DS. At this time the only emulator for these consoles with real online capability is Cemu. Cemu does not officially support custom servers, but it will still be possible to use Pretendo with Cemu
								<br>
								See the <a href="/cemu">Cemu</a> page for more details
							</p>
						</details>

						<details>
							<summary>Will my existing NNIDs work on Pretendo?</summary>
							<p class="text">Sadly, no. The only ones with access to the data about your existing NNIDs is Nintendo. A NNID-to-PNID migration could theoretically be possible, but it would be a slow and lengthy process requiring sensitive user information</p>
						</details>

						<details>
							<summary>If I am account/console banned on Nintendo Network, will I stay banned when using Pretendo?</summary>
							<p class="text">Any account/console bans only exist server-side. This means any existing bans would not carry over to Pretendo. However Pretendo still reserves the right to issue a ban for our network if we see fit</p>
						</details>

						<details>
							<summary>Will Pretendo support the Wii/Switch?</summary>
							<p class="text">The Wii already has custom servers provided by <a href="https://wiimmfi.de/" target="_blank">Wiimmfi</a>. We currently have no plans on supporting the Switch, as not only is it a completely different platform with a different online network, but Switch online is a paid service</p>
						</details>
					</div>
				</div>
			</section>
		</div>
		{{> footer-default }}
	</body>
</html>