<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head-common }}
		<!-- page specific -->
		<link rel="stylesheet" href="/assets/css/pretendo-faq.css">
	</head>
	<body class="flex">
		{{> navbar }}

		<div class="contentWrapper bgLinesSmall">
			<div class="bgExtrude"></div>

			<section class="bigCardWrapper">
				<div class="bigCard">
					<h1 class="txt-title">{{ locale.faq.title }}</h1>
					<div class="faqs">
						{{#each locale.faq.qna}}
						<details>
							<summary>{{{question}}}</summary>
							<p class="text">{{{answer}}}</p>
						</details>
						{{/each}}
					</div>
				</div>
			</section>
		</div>
		{{> footer-default }}
	</body>
</html>
