extends base.pug

block content
    script#page(type='text/x-template').
        <v-layout column align-center>
            <div>
                <img src="/images/Pretendo_Icon.png" alt="Vuetify.js" class="mb-5" height="100px" />
            </div>
            <h2>Pretendo</h2>
            <h3>0 registered users</h3>
        </v-layout>
