<html lang="en">

    <head>

        {{> head }}

    </head>

    <body class="hp-container">

        <img class="hp-background" src="/assets/images/bg.gif">

        <div class="hp-container">

            <h1 class="title"><img class="icon" src="/assets/images/pretendo-logo.svg">Pretendo</h1>
            <div class="text">
                An accurate-as-possible server emulation project for<br>
                Nintendo consoles that use Nintendo Network
            </div>

        </div>

    </body>

</html>
