<h1>login page</h1>
<form action="/api/v1/login" method="POST">
    <input type="text" name="email">
    <input type="text" name="password">
    <a href="#" onclick="hashPassword()">Click to hash password (required before login)</a>
    <button>submit login</button>
</form>

<script>
    function hashPassword() {

    }
</script>