<!DOCTYPE html>
<html>
	<head>
        <!-- meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pretendo</title>
        <!-- css files -->
        <link rel="stylesheet" href="/assets/css/pretendo-common.css">
        <link rel="stylesheet" href="/assets/css/pretendo-home.css">
        <!-- scripts -->
        <script src="/assets/js/nav.js" defer></script>
	</head>
	<body>
		<nav class="navWrapper" id="nav">
			<a class="navItem brand" href="#">PRETENDO</a>
			<a class="navItem" href="#">News</a>
			<a class="navItem" href="#">Progress</a>
			<a class="navItem" href="#">Contact</a>
            <div class="navSpread"></div>
            <a class="navItem" href="#">smth</a>
            <a class="navItem hamburger" id="navToggle">ICON</a>
			</div>
        </nav>
        <div class="contentWrapper">
            <header>
                <h1>Pretendo</h1>
                <hr>
				<h3>A work-in-progress Nintendo Service replacement for Wii U and 3DS. Fully open source.</h3>
            </header>
        </div>
        <div class="contentWrapper bgLines">
            <div class="bgExtrude"></div>
            <section class="bigCardWrapper">
                <div class="bigCard">
                    <p class="txt-highlight">Wait a second</p>
				    <h1 class="txt-title">What exactly is this?</h1>
				    <h2 class="txt-smallHeading">Yeah, I'm not actually going to remake all the cubes and stuff.</h2>
				    <p>
					    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.<br /><br />Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<br /><br />Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
				    </p>
                </div>
            </section>

            <section class="bigCardWrapper">
                <div class="bigCard">
                    <p class="txt-highlight">who is responsible?</p>
				    <h1 class="txt-title">who made this?</h1>
				    <div class="cardProfiles">
                        <!-- profile -->
					    <div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div>
				    </div>
                </div>
            </section>

            <section class="bigCardWrapper">
                <div class="bigCard lessPadding cont-flex">
                    <div class="flex-item">
                        <p class="txt-highlight">Be notified</p>
					    <h1 class="txt-title">Stay updated</h1>
					    <p>
					        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					    </p>
                        <button class="btn">Learn more!</button>
                    </div>
                    <div class="cont-flex">
                        <div class="smallCardWidth">
                            <div class="smallCard">
                                <h3 class="txt-smallHeading">Super cool</h3>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea</p>
                                <button class="btn-alt">Read more</button>
                            </div>
                        </div>
                        <div class="smallCardWidth">
                            <div class="smallCard">
                                <h3 class="txt-smallHeading">Super cool</h3>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea</p>
                                <button class="btn-alt">Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="content">
                <p>copyright <span>2018</span> PretendoNetwork &mdash; Website designed by mrjvs, jipfr and benthehuman</p>
            </div>
        </footer>
	</body>
</html>