<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-news.css">
    </head>
    <body class="flex">
        {{> nav-default }}
        <div class="contentWrapper bgLinesSmall">
            <div class="bgExtrude"></div>
            <section class="bigCardWrapper">
                <div class="bigCard lessPadding">
                    <p class="txt-highlight">ERROR</p>
				    <h1 class="txt-title">ERROR</h1><!--
                    {{#each posts }}
                    --><article class="smallCard">
                        <h3 class="txt-smallHeading">{{ this.title }}</h3>
                        <p>{{ this.content }}</p>
                        <a class="btn-alt" href="/news/{{ this.url }}">ERROR</a>
                    </article><!--
                    {{/each}}
                    -->
                </div>
            </section>
        </div>
        {{> footer-default }}
    </body>
</html>