<h1>register page</h1>
<form action="/api/v1/register" method="POST">
    <input type="text" name="email">
    <input type="text" name="password">
    {{{ captcha }}}
    <button>submit register</button>
</form>