.button {
	appearance: none;
	background: none;
	color: var(--text-shade-3);
	border: 0;
	border-radius: 6px;
	padding: 12px 48px;
	font-size: 1rem;
	font-family: var(--font-family);
	cursor: pointer;
}

.button.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}
/*
.button:hover {
	box-shadow: 0 0 0 1px var(--bg-shade-4) inset;
}

.button.primary:hover {
	box-shadow: 0 0 0 1px var(--accent-shade-3) inset;
}*/

.button.compact {
	padding: 9px 18px;
}
