.title {
	font-weight: 700;
	margin: 0;
	color: var(--text-shade-3);
}

h1.title {
	font-size: 4rem;
}

h2.title {
	font-size: 3rem;
}

.prefix,
.suffix {
	color: var(--accent-shade-1);
}

@media screen and (max-width: 840px) {
	h1.title {
		font-size: 3.5rem;
	}

	h2.title {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 420px) {
	h1.title {
		font-size: 3rem;
	}

	h2.title {
		font-size: 2rem;
	}
}
