.main{
  font-size: 10rem;
	color: var(--text-secondary);
	width: 100%;
	line-height: 1.8;
	margin: 0;
	margin-top: 0.5rem;
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.info{
  font-size: 3rem;
	color: var(--text);
	width: 100%;
	line-height: 1.8;
	margin: 0;
	margin-top: 0.5rem;
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
footer {
  margin-top: auto;
}
