.blog-card {
	display: flex;
	flex-flow: row nowrap;
	padding: 0;
	margin: 0 auto;
	max-width: 1000px;
	margin-bottom: 30px;
	text-decoration: none;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.blog-card .post-info {
	flex: 50%;
	padding: 40px;
	display: flex;
	flex-flow: column;
	color: var(--text-shade-1);
}

.blog-card .post-info .title {
	color: var(--text-shade-3);
	margin: 0;
}

.blog-card .post-info .caption {
	margin: 4px 0 32px 0;
}

.blog-card .pub-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: left;
	margin-top: auto;
}

.blog-card .pub-info .date {
	font-weight: bold;
	color: var(--text-shade-3);
}

.blog-card .pub-info > * {
	margin-right: 0.5em;
	margin-top: 0.2em;
}

.blog-card .profile {
	display: inline-grid;
	grid-template-columns: 30px auto;
	grid-gap: 10px;
	font-weight: bold;
	color: var(--text-shade-3);
	align-items: center;
	height: 32px;
	margin-right: 0.3em;
}
.blog-card .profile img {
	border-radius: 4px;
	border: 1px solid var(--border);
	max-width: 100%;
}

.blog-card .cover {
	flex: 50%;
	border: 3px solid var(--bg-shade-0);
	border-radius: 0 10px 10px 0;
}

.progress-hero a,
.progress-hero a * {
	color: var(--accent-shade-1);
	text-decoration: none;
	font-weight: bold;
}

.progress-hero a:hover,
.progress-hero a:hover {
	text-decoration: underline;
}

.buttons {
	margin: 10vh auto;
	width: min-content;
}
.buttons button.secondary.icon-btn {
	cursor: pointer;
	width: 35px;
	height: 35px;
	padding: 0;
}

footer {
	margin-top: 160px;
}

@media screen and (max-width: 900px) {
	.blog-card {
		flex-flow: column;
	}
	.blog-card .post-info {
		padding: 30px;
	}
	.blog-card .cover {
		order: -1;
		min-height: 250px;
		border-radius: 10px 10px 0 0;
	}
	footer {
		margin-top: 100px;
	}
}

@media screen and (max-width: 450px) {
	.blog-card .cover {
		min-height: 200px;
	}
}
