.blog-card {
    padding: 0;
	margin: 0 auto;
	max-width: 1100px;
	margin-top: 30px;
    text-decoration: none;
    display: flex;
	flex-flow: row nowrap;
	position: relative;
}

.blog-card .left {
    flex: 2 0 55%;
    padding: 40px;
}

.blog-card .right {
	display: flex;
	border-radius: 0 10px 10px 0;
	height: 260px;
	width: 45%;
}

.blog-card .right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0 10px 10px 0;
}

.blog-card h2 {
    color: white;
    margin-top: 0;
}

.blog-card p, .post-info {
	color: var(--text-secondary);
}
.blog-card .date {
	margin-bottom: 0;
	font-weight: bold;
	color: var(--text);
}
.blog-card img {
	
	border-radius: 4px;
}
.blog-card .post-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: left;
	position: absolute;
	bottom: 40px;
}
.blog-card .post-info > * + * {
	margin-left: .5em;
}
.blog-card .profile {
	display: inline-grid;
	grid-template-columns: 30px auto;
	grid-gap: 10px;
	font-weight: bold;
	color: var(--text);
	align-items: center;
    height: 32px; /* So the post doesn't shift when the image gets loaded */
}
.blog-card .profile img {
	border: 1px solid rgba(255, 255, 255, 0.1);
	max-width: 100%;
}