html,
body {
  background: #131730;
}
a.logo-link {
  margin: auto;
  margin-left: 36px;
  height: 40px;
  text-decoration: none;
}
/* unvisited link */
.content a:link {
  color: var(--text-secondary);
	text-decoration: none;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: var(--text-secondary);
	text-decoration: none;
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color: var(--text);
	text-decoration: none;
  font-weight: bold;
}

/* selected link */
a:active {
  color: var(--btn);
	text-decoration: none;
  font-weight: bold;
}
header {
  width: calc(100% - 72px);
  background: #131730;
  padding: 12px 36px;
  margin: 0;
}
header a.logo-link {
  display: none;
}
header nav a:first-child {
  margin-left: -24px;
}

.docs-wrapper {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-rows: repeat(2, fit-content(100%));
  height: 100vh;
}

.docs-wrapper .sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: clamp(270px, 30vw, 500px);
  background: #161931;
  max-height: calc(100vh - 69px);
  overflow-y: scroll;
  min-height: 100%;
  z-index: 2;
}
.docs-wrapper .sidebar .section {
  display: flex;
  flex-flow: column;
  width: 200px;
  margin-left: 138px;
  margin-bottom: 72px;
}
.docs-wrapper .sidebar .section:first-child {
  margin-top: 72px;
}
.docs-wrapper .sidebar .section h5 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-secondary-2);
  margin-bottom: 12px;
}
.docs-wrapper .sidebar .section a {
  position: relative;
  text-decoration: none;
  color: var(--text-secondary);
  width: fit-content;
  margin-bottom: 12px;
}
.docs-wrapper .sidebar .section a.active,
.docs-wrapper .sidebar .section a:hover {
  color: var(--text);
}
.docs-wrapper .sidebar .section a.active::before {
  /* This filter thing is jank, if anyone knows a better way to do this please fix */
  filter: invert(51%) sepia(12%) saturate(2930%) hue-rotate(218deg)
    brightness(99%) contrast(92%);
  position: absolute;
  left: -30px;
  content: url(../images/arrow-right.svg);
}

.docs-wrapper .content {
  width: calc(100vw - clamp(270px, 30vw, 500px) - (72px * 2));
  background: var(--background);
  padding: 72px;
  max-height: calc(100vh - 69px - (72px * 2));
  overflow-y: scroll;
}
.docs-wrapper .content-inner {
  max-width: 900px;
}
.docs-wrapper .content p {
  color: var(--text-secondary);
}
.docs-wrapper .content h1:first-child {
  margin-top: 0;
}
.docs-wrapper .content .quick-links-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  margin-bottom: 60px;
}
.docs-wrapper .quick-links-grid a {
  text-decoration: none;
  background: #252a51;
  border-radius: 6px;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  padding: 20px;
}
.docs-wrapper .quick-links-grid svg:first-child {
  height: 36px;
  margin-right: 24px;
  margin-left: 4px;
  color: var(--theme-light);
}
.docs-wrapper .quick-links-grid p.header {
  font-size: 22px;
  font-weight: 600;
  color: var(--text);
  margin: 0;
}
.docs-wrapper .quick-links-grid p {
  margin: 0;
}
.docs-wrapper .quick-links-grid svg:last-child {
  height: 36px;
  margin-left: auto;
}

/* Scrollbar styling 'cause it's fancy */
.docs-wrapper .sidebar::-webkit-scrollbar,
.docs-wrapper .content::-webkit-scrollbar,
.docs-wrapper .content pre code::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.docs-wrapper .sidebar::-webkit-scrollbar-track,
.docs-wrapper .content::-webkit-scrollbar-track,
.docs-wrapper .content pre code::-webkit-scrollbar-track {
  background: none;
}
.docs-wrapper .sidebar::-webkit-scrollbar-thumb,
.docs-wrapper .content::-webkit-scrollbar-thumb,
.docs-wrapper .content pre code::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary-2);
  border-radius: 24px;
  border: 3px solid #161931;
}
.docs-wrapper .content::-webkit-scrollbar-thumb {
  border: 3px solid var(--background);
}
.docs-wrapper .content pre code::-webkit-scrollbar-thumb {
  border: 3px solid #0d0f20;
}
.docs-wrapper .sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--text-secondary-2) #161931;
}
.docs-wrapper .content {
  scrollbar-width: thin;
  scrollbar-color: var(--text-secondary-2) var(--background);
}
.docs-wrapper .content pre codear {
  scrollbar-width: thin;
  scrollbar-color: var(--text-secondary-2) #0d0f20;
}
.docs-wrapper .content .missing-in-locale-notice {
  background: #252a51;
  padding: 24px;
  border-radius: 6px;
}


.input-wrapper {
  display: flex;
  margin-top: 8px;
}

.localization-form input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: var(--btn-secondary);
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 12px 24px;
  color: var(--text-secondary);
  width: 20px;
  flex: 2 10%;
}

.search input::placeholder {
  color: var(--text-secondary-2);
}

.search input:focus {
  background-color: #fff;
  color: var(--btn-secondary);
  transition: 200ms;
  outline: none;
}

.search button {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--text);
  padding: 12px 36px;
  background: var(--btn);
  cursor: pointer;
}
.docs-wrapper .searchcard {
	width: calc(100% - 54px);
	min-width: 100px;
	max-width: 460px;
	padding: 18px 27px;
	grid-template-columns: 110px 1fr;
	background:#16192D;
	border-radius: 10px;
  color: var(--text);
}

.docs-wrapper .resultcard {
	width: calc(100% - 54px);
	min-width: 100px;
	max-width: 460px;
	padding: 18px 27px;
	grid-template-columns: 110px 1fr;
	background:#16192D;
	border-radius: 10px;
  color: var(--text);
  margin-bottom: 15px;
}

.info-frame {
  position: relative;
  background-color: rgba(22,25,49,1);
  border-radius: 8px;
  color: var(--text);
  padding: 24px 36px;
  margin-bottom: 25px;
}

.info-frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  background: var(--theme-light);
}
.info-frame.green::after {
  background: #59c9a5;
}
.info-frame.yellow::after {
  background: #fee75c;
}
.info-frame.red::after {
  background: #ed4245;
}

.content table {
  border-radius: 4px;
  border-collapse: collapse;
  background: #31375e;
  margin-bottom: 30px;
  overflow: hidden;
}

.content table th {
  padding: 8px 12px;
  background: #3f4778;
  color: var(--text);
}
.content table td {
  padding: 8px 12px;
  vertical-align: top;
  border-radius: inherit;
}
.content table tr:nth-child(even) {
  background: #2a2f50;
}

.mobile-button {
  bottom: 5px;
  left: 5px;
  top:auto;
  background-color: var(--btn);
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  position: fixed;
  visibility:hidden;
  padding: 10px;
  z-index: 2;
  fill: var(--text);
}

@media screen and (max-width: 1080px) {
  .docs-wrapper .sidebar .section {
    margin-left: 60px;
    width: 184px;
    visibility: visible;
  }
}
@media screen and (max-width: 930px) {
  .docs-wrapper .sidebar  {
    visibility: hidden;
    width: 0px;
    padding-left: 10px;
    position:relative;
  }
  .docs-wrapper .sidebar  .section{
    margin-left: 0px;
  }
  .docs-wrapper .content {
    width: 95%; 
    margin-left: -35mm;
  }
  .mobile-button {
    visibility: visible;
  }
}
@media screen and (max-width: 650px) {
  .docs-wrapper .content {
    margin-left: -41mm;
    padding-left: 20px;
    padding-right: 10px;
    width: 100%;
    min-width: fit-content;
    max-width: max-content;
  }

  .docs-wrapper .content .quick-links-grid{
    grid-template-columns: repeat(1,1fr);
  }
}
