.select-box {
  display: flex;
  width: 200px;
  flex-direction: column;
  position: relative;
  user-select: none;
}

.select-box > * {
  box-sizing: border-box;
}

.select-box .options-container {
  max-height: 0;
  width: calc(100% - 12px);
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--btn-secondary);
  order: 1;
  position: absolute;
  top: 50px;
}

.selected-locale {
  margin-bottom: 8px;
  position: relative;
  width: 188px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: var(--btn-secondary);
  color: white;
  order: 0;
}

.selected-locale::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: url("/assets/images/down-arrow.svg");
  position: absolute;
  right: 15px;
  top: 50%;
  transition: transform 150ms;
  transform: translateY(-50%);
  background-size: contain;
  background-position: center;
}

.select-box .option .item {
  color: #afb5dd;
}

.select-box .lang {
  width: 1.3rem;
  height: 1rem;
  margin-right: .2rem;
  display: inline-block;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: auto;
}

.select-box .options-container.active + .selected-locale::after {
  transform: translateY(-50%) rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  background: #81878f;
  background: #f1f2f3;
  border-radius: 0 5px 5px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  background: #81878f;
  border-radius: 0 5px 5px 0;
}
.select-box .option,
.selected-locale {
  padding: 12px 15px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #2f345b;
}
.select-box .option:hover .item {
  color: white;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
