.localization-wrapper {
  width: 100%;
  min-height: calc(100vh - 155px);
  margin: 0;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.localization-widget {
  max-width: 600px;
  width: 100%;
}

.caption {
  color: var(--text-secondary);
  max-width: 400px;
  margin: 20px 0;
}

.title.dot {
  margin: 0;
}

.localization-instr,
.localization-instr:visited {
  display: flex;
  align-items: center;
  color: var(--theme-light);
  text-decoration: none;
  position: relative;
  left: -4px;
  width: fit-content;
}

.localization-instr svg {
  height: 1.3em;
  margin-right: 4px;
}

.localization-form {
  padding: 36px;
  background-color: #151934;
  border-radius: 12px;
  margin-top: 36px;
}

.input-wrapper {
  display: flex;
  margin-top: 8px;
}

.localization-form input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-family: Poppins;
  font-size: 1rem;
  background-color: var(--btn-secondary);
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 12px 24px;
  color: var(--text-secondary);
  width: 20px;
  flex: 2 10%;
}

.localization-form input::placeholder {
  color: var(--text-secondary-2);
}

.localization-form input:focus {
  background-color: #fff;
  color: var(--btn-secondary);
  transition: 200ms;
  outline: none;
}

.localization-form button {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0 4px 4px 0;
  font-family: Poppins;
  font-size: 1rem;
  color: var(--text);
  padding: 12px 36px;
  background: var(--btn);
  cursor: pointer;
}

footer {
  margin-top: auto;
}
