
:root {
	--background: #1B1F3B;
	--text: white;
	--text-secondary: #A1A8D9;
	--btn: #673DB6;
	--btn-secondary: #333960;
	--theme: var(--btn);
	--theme-light: #A185D6;
	--text-secondary-2: #8990C1;
	--border: rgba(255, 255, 255, 0.1);
}

body {
	background: var(--background);
	padding-bottom: env(safe-area-inset-bottom);
}
body, .main-body {
	width: 100%;
	max-width: 100vw;
	position: relative; /* This fixes overflow-x not hiding on Safari on mobile */
	overflow-x: hidden;
	margin: 0;
	color: var(--text);
	justify-content: center;
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

.main-body {
	overflow-y: hidden; /* Fixes the dowuble scrollbars caused by the last background circle */
}

.animateDot {
	animation: dotAnimation 10s infinite;
}
@keyframes dotAnimation {
	0% {
		cx: 0;
		cy: 0;
	}
	50% {
		cx: 10px;
		cy: 10px;
	}
	100% {
		cx: 0;
		cy: 0;
	}
}

.wrapper {
	width: 95%;
	max-width: 1590px;
	margin: 0 auto;
}

h1.dot:not([data-title-suffix]):after, h2.dot:not([data-title-suffix]):after {
	/* content: ".";
	color: #9D6FF3; */
	content: "";
    background-color: #9D6FF3;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: inline-block;
}
h1.dot[data-title-suffix]:after, h2.dot[data-title-suffix]:after {
	content: attr(data-title-suffix);
	display: inline-block;
	color: #9D6FF3;
}

header {
	display: flex;
	align-items: center;
	margin-top: 35px;
}
header a {
	text-decoration: none;
}
header .logo-link, header .logo-link svg {
	display: block;
}
header nav a:first-child {
	margin-left: 40px;
}
header nav a {
	color: var(--text-secondary);
	margin: 0 17px;
	text-decoration: none;
}
header nav a:hover {
	color: var(--text);
    	transition: color 50ms ease-in-out;
}

.locale-dropdown {
	margin-left: auto;
	z-index: 2;
	height: 45px;
}

/* Misc */
.purple-circle {
	position: absolute;
	z-index: -2;
	width: 2100px;
	height: 1700px;
	background: #111531;
	border-radius: 50%;
	top: -250px;
	right: -1420px;
	/* left: 60vw; */
}
.light-purple-circle {
	background: #CAB1FB;
	width: 500px;
	height: 500px;
	position: relative;
	top: 60%;
	left: 50%;
	transform: translate(calc(-50% - 35px), -50%);
	border-radius: 50%;
	z-index: -1;
	/* Tmp */
	display: flex;
	justify-content: center;
	align-items: center;
}
.light-purple-circle .n2ds {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: -40px;
	z-index: 1;
}
.light-purple-circle .deco {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% + 70px));
	z-index: -2;
}

/* Twemoji */

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
 }

/* Title business */
.sect .title[id] {
	padding-top: 100px;
	margin-top: -100px;
}

/* Hero */
.hero {
	/* height: 775px; /* To line it up with the design */
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}
.progress-hero {
	width: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
	text-align: center;
}
.progress-hero svg {
	width: 3rem;
	height: 3rem;
}
.progress-hero .text {
	max-width: 423px;
}
.progress-hero .text a {
	color: #9d6ff3;
	text-decoration: none;
	font-weight: bold;
}
.progress-hero .text a:hover {
	text-decoration: underline;
}

.hero-meta {
	margin-top: 25vh;
}
.hero-meta.reduced-margin {
	margin: 10vh 0;
	width: 100%;
}
.hero-meta.reduced-margin h1 {
	width: 100%;
}
.hero-meta.reduced-margin p {
	margin: 0 auto;
}
.hero-image {
	position: relative;
	height: 100%;
}
.hero .title, .hero .subtitle {
	margin: 0;
}
.hero .subtitle {
	font-size: 1.9rem;
	font-weight: 300;
	margin-bottom: -0.5em;
}
.hero .title {
	font-size: 4rem;
}
.text {
	font-size: 1rem;
	color: var(--text-secondary);
	width: 86%;
	line-height: 1.8;
	margin: 0;
	margin-top: 0.5rem;
}

/*
	BUTTONS
*/
.hero .buttons {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.hero .buttons a {
	display: block;
}
.hero .buttons a > * {
	cursor: pointer;
}
.button {
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	border-radius: 6px;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: var(--text);
}
.button.primary {
	padding: 12px 48px;
	background: var(--btn);
}
.button.secondary {
	background: var(--btn-secondary);
}
.button.secondary.discord svg {
	margin-bottom: -1px;
}
.do-button-margin {
	margin-bottom: 15px;
	margin-right: 15px;
}
.button.secondary.icon-btn {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button svg {
	width: 30px;
	height: 30px;
	display: block;
}

/* Non-hero sections */
.sect .title {
	font-size: 3.125rem;
}
section.progress {
	margin-top: 400px;
}
.column-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.sect .title {
	margin: 0;
}
.sect .text {
	margin: 22px 0;
	width: 64%;
	line-height: 1.7;
}
section.progress .left, section.progress .right {
	padding: 50px 0;
}
section.progress .right {
	position: relative;
	padding-left: 80px;
	background: var(--theme);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
section.progress .right .title a {
	text-decoration: none;
	color: var(--text);
}
section.progress .right .title a:hover {
	text-decoration: underline;
}
section.progress .right:before {
	content: "";
	width: 300vw;
	position: absolute;
	height: 100%;
	background: yellow;
	left: 90%;
	margin-top: -50px;
	background: var(--theme);
	z-index: -1;
}

section.faq {
	margin-top: 200px;
}

.questions {
	margin-top: 30px;
	grid-gap: 30px;
}
.questions > div > * + * {
	margin-top: 15px;
}

.question-and-answer summary {
	font-size: 1.5625rem;
	color: #B8BDDF;
}
.question-and-answer[open] summary {
	color: var(--text);
}
.question-and-answer summary:hover {
	color: var(--text);
	text-decoration: underline;
	cursor: pointer;
}
.question-and-answer .text {
	margin: 5px 0;
	line-height: 1.85;
	color: var(--text-secondary-2);
}
.question-and-answer .text a {
	color: #9d6ff3;
	text-decoration: none;
	font-weight: bold;
}

.question-and-answer .text a:hover {
	text-decoration: underline;
}

section.showcase {
	position: relative;
	margin-top: 160px;
	padding: 220px 0;
}
section.showcase::before {
	content: "";
	width: 400vw;
	margin-left: -50vw;
	background: linear-gradient(180deg, rgba(19, 22, 36, 0) 0%, #131624 100%);
	position: absolute;
	top: 0;
	bottom: 0;
  	z-index: -1;
}
section.showcase .text {
	max-width: 504px;
	margin-bottom: 132px;
}
section.showcase .grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}
section.showcase .grid .item {
	background: #252A51;
	border-radius: 10px;
	padding: 42px 36px;
}
section.showcase .grid .item.highlight {
	border: 2px solid #9D6FF3;
}
section.showcase .grid .item svg {
	height: 36px;
	color: #9D6FF3;
}
section.showcase .grid .item h1 {
	margin-top: 14px;
	margin-bottom: 6px;
	font-weight: 600;
}
section.showcase .grid .item p {
	margin: 0;
	color: var(--text-secondary)
}

section.team {
	margin-top: 220px;
}
.team .team-top {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.team .team-top .text {
	width: 24%;
	margin: 0;
	margin-top: 6px;
}
.team .team-top .title {
	width: 100%;
}

.team-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -10px;
	margin-top: 80px;
}
.team-cards .card {
	margin: 10px;
}
.card {
	width: calc(100% - 54px);
	min-width: 100px;
	max-width: 460px;
	padding: 18px 27px;
	display: grid;
	grid-template-columns: 110px 1fr;
	grid-gap: 20px;
	background: #16192D;
	grid-column: span 2;
	border-radius: 10px;
	align-items: center;
}
.card .card-left {
	background: white;
	border-radius: 12px;
}
.card .pfp {
	width: 100%;
	border-radius: 10px;
	display: block;
}
.card .text, .card .title {
	margin: 0;
}
.card .sub {
	color: #59C9A5;
	font-size: .875rem;
}
.card .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.card .github {
	text-decoration: none;
	color: inherit;
}
.card .github svg {
	width: 1.5em;
	height: 1.5em;
	display: block;
}
.card .text {
	color: var(--text-secondary);
}

section.team-helpers {
	position: relative;
	margin-top: 160px;
}
section.team-helpers .text {
	max-width: 504px;
	margin-bottom: 132px;
}
section.team-helpers .team-helpers-cards {
	display: inline-grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 20px;
	margin-right: 20px;
	color: var(--text-secondary);
	width: max-content;
}
section.team-helpers .row.second .team-helpers-cards {
	grid-template-columns: repeat(12, 1fr);
}
section.team-helpers .row {
	width: fit-content;
}
section.team-helpers .row.first {
	animation: infiniteScrollRow1 15s linear infinite; /* Set the duration to 5s times the number of cards */
}
section.team-helpers .row.second {
	animation: infiniteScrollRow2 20s linear infinite; /* Set the duration to 5s times the number of cards */
}
@keyframes infiniteScrollRow1 { 
	0% { transform: translate3d(0); } 
	100% { transform: translate3d(calc(100% / -3), 0, 0); }
}
@keyframes infiniteScrollRow2 { 
	0% { transform: translate3d(calc(100% / -3), 0, 0); } 
	100% { transform: translate3d(0, 0, 0); }
}
section.team-helpers .animation-wrapper {
	transform: rotate(-5deg);
	position:relative;
	top: -90px;
	padding: 20px; /* Needed for the star not to get cut off */
}
section.team-helpers .animation-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	width: 101%; /* If set to 100% it doesn't cover it completely */
	left: -0.5%;
	height: 100%;
	background: linear-gradient(90deg, var(--background) 0%, rgba(27, 31, 59, 0) 20%, rgba(27, 31, 59, 0) 80%, var(--background) 100%);
	z-index: 1;
	pointer-events: none;
}

/* This fixes overflow-x: hidden; not working correctly on Firefox (https://i.imgur.com/TpM0CEB.png)
 * and WebKit (https://i.imgur.com/290nYsb.png) */
section.team-helpers .animation-wrapper .row-wrapper {
	position: relative;
	padding: 20px;
	width: 100%;
	height: 100%;
}
section.team-helpers .animation-wrapper .row-wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	left: calc(-100% - 20px);
	height: 100%;
	background: var(--background);
	z-index: 2;
	pointer-events: none;
}
section.team-helpers .animation-wrapper .row-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	left: calc(100% - 20px);
	height: 100%;
	background: var(--background);
	z-index: 2;
	pointer-events: none;
}

section.team-helpers .animation-wrapper .row {
	white-space: nowrap;
}
section.team-helpers .animation-wrapper .row.second {
	margin-top: 20px;
}
section.team-helpers .helper-card {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 14px 24px;
	background: #16192D;
	border-radius: 12px;
	min-width: 480px;
}
section.team-helpers .helper-card:hover {
	background: #252A51;
	transition: 200ms;
}
section.team-helpers .helper-card.special {
	position: relative;
	box-shadow: 0px 0px 0px 2px rgba(211, 225, 87, 0.6) inset;
}
section.team-helpers .helper-card.special::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.571' height='30.218' viewBox='0 0 31.571 30.218'%3E%3Cpath id='Icon_awesome-star' data-name='Icon awesome-star' d='M15.533,1.05,11.68,8.863,3.058,10.12a1.889,1.889,0,0,0-1.044,3.222L8.251,19.42,6.776,28.006A1.887,1.887,0,0,0,9.514,30l7.713-4.054L24.94,30a1.889,1.889,0,0,0,2.738-1.989L26.2,19.42l6.237-6.078A1.889,1.889,0,0,0,31.4,10.12L22.774,8.863,18.92,1.05a1.89,1.89,0,0,0-3.387,0Z' transform='translate(-1.441 0.001)' fill='%23d3e848'/%3E%3C/svg%3E%0A");
	position: absolute;
	width: 30px;
	height: 30px;
	top: -13px;
	right: -13px;
}
section.team-helpers .row.second .helper-card {
	position:relative;
	left: calc(-250% - 50px);
}
section.team-helpers .helper-card .img-wrapper {
	background: #fff;
	border-radius: 100%;
	margin-right: 14px;
	width: 48px;
	height: 48px;
}
section.team-helpers .helper-card .pfp {
	border-radius: 100%;
	width: 48px;
	height: 48px;
}
section.team-helpers .helper-card span {
	color: var(--text);
	font-weight: 600;
	margin-right: 0.6ch;
}
section.team-helpers .helper-card p {
	color: var(--text-secondary);
}

section.update-signup {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-items: center;
	align-items: center;
	text-align: center;
	margin-top: 160px;
	padding-top: 240px;
	padding-bottom: 300px;
}
section.update-signup svg {
	width: 4rem;
	height: 4rem;
	margin-bottom: 42px;
}
section.update-signup .text {
	margin-top: 8px;
	max-width: 423px;
}
section.update-signup .floating-serverjoin {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 18px;
	width: 100%;
	max-width: 576px;

	background: #15182D;
	border-radius: 6px;
	padding: 18px;

	overflow-x: hidden;
}
section.update-signup .floating-serverjoin p {
	color: var(--text-secondary);
	margin: auto;
	margin-left: 0;
}
section.update-signup .floating-serverjoin a {
	color: var(--text);
	text-decoration: none;
	background: var(--theme);
	margin: 0;
	margin-left: auto;
	padding: 9px 18px;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
}
section.update-signup div.circle {
	display: block;
	background: #202442;
	/* the next 4 lines make it so the circle is always the same aspect ratio and covers enough of the screen */
	width: 2591px;
	height: 1454px;
	min-width: 135vw;
	min-height: 76vw; /* yes, this is supposed to be in vw */
	border-radius: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}

/* Progress */
.all-progress-lists {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
.feature-list-wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 20px;
	margin-top: 22px;
}
.feature-progress-chart {
	max-width: 100px;
}
.feature-progress-chart canvas.percentage-chart {
	pointer-events: none; /* Fixes issue #48 */
}
.feature-list-wrapper h3 {
	margin: 0;
}
.feature-list-wrapper hr {
	border: 0;
	width: 100%;
	height: 1px;
	margin: 20px 0;
	background: rgba(255, 255, 255, 0.1);
}
.progress-title {
	margin-bottom: 20px;
}
.progress-title a.github {
	margin-top: 10px;
	color: #6D73A2;
	display: inline-flex;
	align-items: center;
	opacity: .75;
	text-decoration: none;
	transition: color 50ms ease-in-out;
}
.progress-title a.github:focus, .progress-title a.github:hover, .progress-title a.github:visited {
	color: #6D73A2;
	text-decoration: none;
}
.progress-title a.github:hover {
	opacity: 1;
}
.progress-title a.github svg {
	height: 1.3rem;
	margin-right: .4rem;
}
.feature-list-wrapper.purple .progress-title a.github, .feature-list-wrapper.purple .progress-title a.github:focus, .feature-list-wrapper.purple .progress-title a.github:hover, .feature-list-wrapper.purple .progress-title a.github:visited {
	color: #c69cf9;
}
.feature-list-wrapper .core > .progress-title a.github:hover {
	color: white;
}

.feature-list-wrapper canvas {
	width: 100px;
	height: 100px;
}

.feature-progress-chart {
	position: relative;
}
.feature-progress-chart p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-weight: bolder;
	font-size: 1.3rem;
}

/* Progress: Feature list */
.feature-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 10px;
}
.feature {
	display: grid;
	align-items: flex-start;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
}

/* Custom checkboxes */
.custom-checkbox {
	width: 1.5rem;
	height: 1.5rem;
	background: #31365A;
	color: var(--text);
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.custom-checkbox.done {
	background: #50AC75;
}
.custom-checkbox.ongoing {
	background: #DBAC5B;
}
.custom-checkbox svg {
	width: 100%;
	height: 100%;
}
.custom-checkbox .small-dot {
	width: 0.5rem;
	height: 0.5rem;
	background: white;
	border-radius: 50%;
}

/* Bright purple cards */
.purple-card {
	padding: 50px 20px;
	border-radius: 10px;
	background: #151934;
}

/* Footer */
footer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, fit-content(100%)) 1fr;
	gap: 7.7vw;
	color: var(--text-secondary);
	margin-top: 120px;
	position: relative;
	padding: 60px 0;
}
footer::after {
	content: "";
	width: 400vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: -50vw;
	background: #15182D;
	z-index: -1;
}
footer div {
	display: flex;
	flex-flow: column;
	width: fit-content;
}
footer svg.logotype {
	height: 56px;
	width: fit-content;
	margin: -10px 0 24px -10px;
}
footer p {
	margin: 0;
}
footer h1 {
	font-size: 20px;
	margin-top: 0;
	color: var(--text);
}
footer a {
	color: var(--text-secondary);
	text-decoration: none;
	width: fit-content;
}
footer a:hover {
	color: var(--text);
	text-decoration: underline;
}
footer div.discord-server-card {
	background: #222641;
	border-radius: 12px;
	padding: 30px 90px 30px 36px;
	justify-self: end;
}
footer div.discord-server-card h1 {
	font-size: 25px;
	margin: 0;
}
footer div.discord-server-card h2 {
	color: var(--text);
	font-size: 22px;
	margin: 0;
}
footer div.discord-server-card a {
	display: flex;
	align-items: center;
	color: #CAB1FB;
	font-size: 22px;
	text-decoration: none;
	width: fit-content;
	margin-left: -2px;
	margin-top: 12px;
}
footer div.discord-server-card a:hover {
	text-decoration: underline;

}
footer div.discord-server-card svg {
	height: 24px;
	stroke-width: 3px;
	margin-right: 4px;
}

@media screen and (min-width: 701px) and (max-width: 1500px) {
	.light-purple-circle {
		width: 400px;
		height: 400px;
	}
	img.n2ds {
		width: 432px;
	}
	.deco svg {
		transform: scale(0.8);
		/* :/ */
	}
	.purple-circle {
		right: auto;
		left: 60vw;
	}

	
}

@media screen and (max-width: 900px) {

	.all-progress-lists {
		grid-template-columns: 100%;
	}
	.feature-list-wrapper {
		grid-template-columns: 100%;
	}

	header nav a:not(.keep-on-mobile) {
		/* You don't really need it on mobile IMO */
		display: none;
	}

	header .logo-link {
		margin-right: 20px;
	}

	.hero-meta {
		margin-top: 100px;
	}
	
	.wrapper {
		width: 90%;
	}

	.hero-image {
		display: none;
	}
	.hero .text {
		width: 100%;
	}
	.misc {
		display: none;
	}

	.column-2, .hero {
		grid-template-columns: 100%;
		grid-gap: 15px;
	}

	.button.primary {
		padding: 8px 27px;
	}
	.button.secondary.icon-btn {
		width: 41px;
		height: 41px;
	}
	.button.icon-btn svg {
		min-width: 30px;
		width: 30px;
		min-height: 30px;
		height: 30px;
	}


	section.progress {
		margin-top: 100px;
	}
	section.progress .right:before {
		content: none;
	}
	section.progress .right {
		padding: 50px 20px;
		border-radius: 10px;
	}
	.sect .text {
		width: 100%;
	}

	.question-and-answer summary {
		font-size: 1.1rem;
	}

	
	section.showcase {
    	margin-top: 0;
	}
	section.showcase .grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
	
	section.team,
	section.team-helpers {
		margin-top: 100px;
	}
	.team .team-top .text {
		width: 100%;
	}

	section.team-helpers .sect-top {
		text-align: center;
	}
	section.team-helpers .sect-top .text {
		width: 100%;
		max-width: none;
	}
	section.team-helpers .animation-wrapper {
		transform: none;
		overflow-x: visible;
		margin-left: -10vw; /* Fixes the loop being visible */
	}
	section.team-helpers .animation-wrapper::after {
		background: none;
	}

	/* Hides workaround on mobile */
	section.team-helpers .animation-wrapper .row-wrapper::before,
	section.team-helpers .animation-wrapper .row-wrapper::after {
		content: none;
	}

	section.update-signup {
		margin-top: 0;
		padding-top: 90px;
		padding-bottom: 90px;
	}

	footer {
		margin-top: 100px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, fit-content(100%));
	}
	footer div {
		justify-self: center;
	}
	footer div.discord-server-card {
		grid-column: 1 / span 4;
		width: calc(100% - 126px);
		justify-self: normal;
	}

	.text {
		width: 100%;
	}

}

@media screen and (max-width: 580px) {

	.sect .title {
		font-size: 2rem;
	}
	h1.dot:not([data-title-suffix]):after, h2.dot:not([data-title-suffix]):after {
		width: 0.5rem;
		height: 0.5rem;
	}

	.hero .title {
		font-size: 2.5rem;
	}
	.hero .subtitle {
		font-size: 1.5rem;
	}

	section.showcase {
    	padding: 160px 0;
	}
	section.showcase p.text {
		margin-bottom: 82px;
	}
	section.showcase .grid .item {
		padding: 24px 24px;
	}

	.team .team-top {
		text-align: left;
	}
	.team-cards .card {
		grid-template-columns: 60px 1fr;
		width: calc(95vw - 36px);
		margin-left: -1vw;
		margin-right: -1vw;
		padding: 18px;
		max-width: none;
	}

	section.team-helpers .team-helpers-cards {
		grid-gap: 12px;
    	margin-right: 12px;
	}
	section.team-helpers .animation-wrapper .helper-card {
		padding: 7px 18px;
	}
	section.team-helpers .animation-wrapper .row.second {
		margin-top: 12px;
	}

	section.update-signup .floating-serverjoin {
		width: calc(100% - 36px);
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, fit-content(100%));
	}
	section.update-signup .floating-serverjoin > * {
		margin: auto !important;
	}

	.selected-locale .locale-names {
		display: none;
	}

	.selected-locale {
		width: 80px;
		margin-left: auto;
		margin-right: 12px;
	}

	.locale-dropdown {
		width: fit-content;
	}

	.select-box .options-container {
		width: 150px;
		right: 12px;
	}

	footer {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, fit-content(100%));
	}
	footer div {
		justify-self: start;
	}
	footer div.discord-server-card {
		grid-column: 1 / span 1;
		padding: 30px;
		width: calc(100% - 60px);
	}

}

@media screen and (max-width: 480px) {
	header .logo-link svg text {
		display: none;
	}

	header .logo-link svg {
		width: 39.876px;
	}

	header .logo-link {
		margin-right: 10px;
	}
	header nav a {
		margin: 0 10px;
	}
}

@media screen and (max-width: 330px) {
	.locale-dropdown .selected-locale {
		width: 50px;
	}
	.locale-dropdown .selected-locale::after {
		display: none;
	}

}
