
:root {
	--background: #1B1F3B;
	--text: white;
	--text-secondary: #A1A8D9;
	--btn: #673DB6;
	--btn-secondary: #333960;
	--theme: var(--btn);
	--theme-light: #A185D6;
	--text-secondary-2: #8990C1;
}

body {
	background: var(--background);
	padding-bottom: env(safe-area-inset-bottom);
}
body, .main-body {
	width: 100%;
	max-width: 100vw;
	margin: 0;
	color: var(--text);
	justify-content: center;
	font-family: Poppins, Arial;
	overflow-x: hidden;
}

.animateDot {
	animation: dotAnimation 10s infinite;
}
@keyframes dotAnimation {
	0% {
		cx: 0;
		cy: 0;
	}
	50% {
		cx: 10px;
		cy: 10px;
	}
	100% {
		cx: 0;
		cy: 0;
	}
}

.wrapper {
	width: 95%;
	max-width: 1590px;
	margin: 0 auto;
}

h1.dot:not([data-title-suffix]):after, h2.dot:not([data-title-suffix]):after {
	/* content: ".";
	color: #9D6FF3; */
	content: "";
    background-color: #9D6FF3;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: inline-block;
}
h1.dot[data-title-suffix]:after, h2.dot[data-title-suffix]:after {
	content: attr(data-title-suffix);
	display: inline-block;
	color: #9D6FF3;
}

header {
	display: flex;
	align-items: center;
	margin-top: 35px;
}
header .logo-link, header .logo-link svg {
	display: block;
}
header nav a:first-child {
	margin-left: 40px;
}
header nav a {
	color: var(--text-secondary);
	margin: 0 17px;
	text-decoration: none;
}

.locale-dropdown {
	margin-left: auto;
	z-index: 2;
}

/* Misc */
.purple-circle {
	position: absolute;
	z-index: -2;
	width: 2100px;
	height: 1700px;
	background: #111531;
	border-radius: 50%;
	top: -250px;
	right: -1420px;
	/* left: 60vw; */
}
.light-purple-circle {
	background: #CAB1FB;
	width: 500px;
	height: 500px;
	position: relative;
	top: 60%;
	left: 50%;
	transform: translate(calc(-50% - 35px), -50%);
	border-radius: 50%;
	z-index: -1;
	/* Tmp */
	display: flex;
	justify-content: center;
	align-items: center;
}
.light-purple-circle .n2ds {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: -40px;
	z-index: 1;
}
.light-purple-circle .deco {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% + 70px));
	z-index: -2;
}

/* Twemoji */

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
 }

/* Title business */
.sect .title[id] {
	padding-top: 100px;
	margin-top: -100px;
}

/* Hero */
.hero {
	/* height: 775px; /* To line it up with the design */
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}
.progress-hero {
	width: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
	text-align: center;
}
.progress-hero svg {
	width: 3rem;
	height: 3rem;
}
.progress-hero .text {
	max-width: 423px;
}
.hero-meta {
	margin-top: 25vh;
}
.hero-meta.reduced-margin {
	margin: 10vh 0;
	width: 100%;
}
.hero-meta.reduced-margin h1 {
	width: 100%;
}
.hero-meta.reduced-margin p {
	margin: 0 auto;
}
.hero-image {
	position: relative;
	height: 100%;
}
.hero .title, .hero .subtitle {
	margin: 0;
}
.hero .subtitle {
	font-size: 1.9rem;
	font-weight: 300;
	margin-bottom: -0.5em;
}
.hero .title {
	font-size: 4rem;
}
.text {
	font-size: 1rem;
	color: var(--text-secondary);
	width: 63%;
	line-height: 1.8;
	margin: 0;
	margin-top: 0.5rem;
}

/*
	BUTTONS
*/
.hero .buttons {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.hero .buttons a {
	display: block;
}
.hero .buttons a > * {
	cursor: pointer;
}
.button {
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	border-radius: 6px;
	font-family: Poppins;
	font-size: 1rem;
	color: var(--text);
}
.button.primary {
	padding: 12px 48px;
	background: var(--btn);
}
.button.secondary {
	background: var(--btn-secondary);
}
.button.secondary.discord svg {
	margin-bottom: -1px;
}
.do-button-margin {
	margin-left: 15px;
}
.button.secondary.icon-btn {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button svg {
	width: 30px;
	height: 30px;
	display: block;
}

/* Non-hero sections */
.sect .title {
	font-size: 3.125rem;
}
section.progress {
	margin-top: 400px;
}
.column-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.sect .title {
	margin: 0;
}
.sect .text {
	margin: 22px 0;
	width: 64%;
	line-height: 1.7;
}
section.progress .left, section.progress .right {
	padding: 50px 0;
}
section.progress .right {
	position: relative;
	padding-left: 80px;
	background: var(--theme);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
section.progress .right:before {
	content: "";
	width: 300vw;
	position: absolute;
	height: 100%;
	background: yellow;
	left: 90%;
	margin-top: -50px;
	background: var(--theme);
	z-index: -1;
}

section.faq {
	margin-top: 200px;
}

.questions {
	margin-top: 30px;
	grid-gap: 30px;
}
.questions > div > * + * {
	margin-top: 15px;
}

.question-and-answer summary {
	font-size: 1.5625rem;
	color: #B8BDDF;
}
.question-and-answer[open] summary {
	color: var(--text);
}
.question-and-answer summary:hover {
	color: var(--text);
	text-decoration: underline;
	cursor: pointer;
}
.question-and-answer .text {
	margin: 5px 0;
	line-height: 1.85;
	color: var(--text-secondary-2);
}
.question-and-answer .text a {
	color: white;
}

section.team {
	margin-top: 220px;
}
.team .team-top {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.team .team-top .text {
	width: 24%;
	margin: 0;
	margin-top: 6px;
}
.team .team-top .title {
	width: 100%;
}

.team-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -10px;
	margin-top: 80px;
}
.team-cards .card {
	margin: 10px;
}
.card {
	width: calc(100% - 54px);
	min-width: 100px;
	max-width: 460px; 
	padding: 18px 27px;
	display: grid;
	grid-template-columns: 110px 1fr;
	grid-gap: 20px;
	background: #16192D;
	grid-column: span 2;
	border-radius: 10px;
	align-items: center;
}
.card .pfp {
	width: 100%;
	border-radius: 10px;
	background: white;
	display: block;
}
.card .text, .card .title {
	margin: 0;
}
.card .sub {
	color: #59C9A5;
	font-size: .875rem;
}
.card .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.card .github {
	text-decoration: none;
	color: inherit;
}
.card .github svg {
	width: 1.5em;
	height: 1.5em;
	display: block;
}
.card .text {
	color: var(--text-secondary);
}

/* Progress */
.all-progress-lists {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
.feature-list-wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 20px;
}
.feature-progress-chart {
	max-width: 100px;
}
.feature-list-wrapper h3 {
	margin: 0;
}
.feature-list-wrapper hr {
	border: 0;
	width: 100%;
	height: 1px;
	margin: 20px 0;
	background: rgba(255, 255, 255, 0.1);
}
.progress-title {
	margin-bottom: 20px;
}
.progress-title a.github {
	margin-top: 10px;
	color: #6D73A2;
	display: inline-flex;
	align-items: center;
	opacity: .75;
	text-decoration: none;
	transition: color 50ms ease-in-out;
}
.progress-title a.github:focus, .progress-title a.github:hover, .progress-title a.github:visited {
	color: #6D73A2;
	text-decoration: none;
}
.progress-title a.github:hover {
	opacity: 1;
}
.progress-title a.github svg {
	height: 1.3rem;
	margin-right: .4rem;
}
.feature-list-wrapper.purple .progress-title a.github, .feature-list-wrapper.purple .progress-title a.github:focus, .feature-list-wrapper.purple .progress-title a.github:hover, .feature-list-wrapper.purple .progress-title a.github:visited {
	color: #c69cf9;
}
.feature-list-wrapper .core > .progress-title a.github:hover {
	color: white;
}

.feature-list-wrapper canvas {
	width: 100px;
	height: 100px;
}

.feature-progress-chart {
	position: relative;
}
.feature-progress-chart p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-weight: bolder;
	font-size: 1.3rem;
}

/* Progress: Feature list */
.feature-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 10px;
}
.feature {
	display: grid;
	align-items: flex-start;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
}

/* Custom checkboxes */
.custom-checkbox {
	width: 1.5rem;
	height: 1.5rem;
	background: #31365A;
	color: var(--text);
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.custom-checkbox.done {
	background: #50AC75;
}
.custom-checkbox.ongoing {
	background: #DBAC5B;
}
.custom-checkbox svg {
	width: 100%;
	height: 100%;
}
.custom-checkbox .small-dot {
	width: 0.5rem;
	height: 0.5rem;
	background: white;
	border-radius: 50%;
}

/* Bright purple cards */
.purple-card {
	padding: 50px 20px;
	border-radius: 10px;
	background: #151934;
}

/* Footer */
footer {
	text-align: center;
	color: var(--text-secondary);
	margin-top: 290px;
	margin-bottom: 40px;
}

@media screen and (min-width: 701px) and (max-width: 1500px) {
	.light-purple-circle {
		width: 400px;
		height: 400px;
	}
	img.n2ds {
		width: 432px;
	}
	.deco svg {
		transform: scale(0.8);
		/* :/ */
	}
	.purple-circle {
		right: auto;
		left: 60vw;
	}

	
}

@media screen and (max-width: 900px) {

	h1.dot:not([data-title-suffix]):after, h2.dot:not([data-title-suffix]):after {
		width: 0.5rem;
		height: 0.5rem;
	}

	.all-progress-lists {
		grid-template-columns: 100%;
	}
	.feature-list-wrapper {
		grid-template-columns: 100%;
	}

	header nav a:not(.keep-on-mobile) {
		/* You don't really need it on mobile IMO */
		display: none;
	}

	.hero-meta {
		margin-top: 100px;
	}
	
	.wrapper {
		width: 90%;
	}

	.hero-image {
		display: none;
	}
	.hero .title {
		font-size: 2.5rem;
	}
	.hero .subtitle {
		font-size: 1.5rem;
	}
	.hero .text {
		width: 100%;
	}
	.misc {
		display: none;
	}

	.column-2, .hero {
		grid-template-columns: 100%;
		grid-gap: 15px;
	}

	.button.primary {
		padding: 8px 27px;
	}
	.button.secondary.icon-btn {
		width: 41px;
		height: 41px;
	}
	.button.icon-btn svg {
		min-width: 30px;
		width: 30px;
		min-height: 30px;
		height: 30px;
	}


	section.progress {
		margin-top: 100px;
	}
	section.progress .right:before {
		content: none;
	}
	section.progress .right {
		padding: 50px 20px;
		border-radius: 10px;
	}
	.sect .title {
		font-size: 2rem;
	}
	.sect .text {
		width: 100%;
	}

	.question-and-answer summary {
		font-size: 1.1rem;
	}

	.team .team-top .text {
		width: 100%;
	}

	.team-cards .card { /* I needed a little bit of a higher priority */
		grid-template-columns: 60px 1fr;
		width: 100vw;
		margin-left: -5vw;
		margin-right: -2.5vw;
		border-radius: 0;
	}


	footer {
		margin-top: 100px;
	}

	.text {
		width: 100%;
	}

}

@media screen and (max-width: 500px) {
	.selected-locale .locale-names {
		display: none;
	}

	.selected-locale {
		width: 80px;
		margin-left: auto;
		margin-right: 12px;
	}

}

@media screen and (max-width: 400px) {
	.select-box .options-container {
	width: 125px;
	right: 12px;
	}
}

@media screen and (max-width: 330px) {
	.locale-dropdown {
		display: none;
	}
}