/*
MOVE PROGRESS CSS HERE
*/
#quick-nav a {
	color: var(--text-shade-1);
	text-decoration: none;
	width: fit-content;
}

#quick-nav a:hover {
	color: var(--text-shade-3);
	text-decoration: underline;
}

.progress-filter {
	padding: 8px;
    border-radius: 10px;
    background: var(--bg-shade-0);
    grid-column: span 2;
}

.progress-filter .container {
	display: flex;
	justify-content: flex-start;
}

.progress-filter .container .sub-container {
	display: flex;
	margin-inline: 5px;
	position: relative;
}

.progress-filter .container .sub-container:not(:last-child):after {
	content: '';
	position: absolute;
	top: 10%;
	bottom: 10%;
	right: -10px;
	width: 3px;
	background-color: var(--bg-shade-3);
}



.progress-filter .container .sub-container button {
	padding: 0px 8px;
	margin-inline-start: 5px;
}

.off {
	display: none;
}

@media screen and (max-width: 900px) {

	.progress-filter {
		grid-column: span 1;
		padding: 10px;
	}
}
@media screen and (max-width: 576px) {

	.progress-filter .container {
		justify-content: center;
	}

	.progress-filter .container .sub-container {
		margin: 0px;
	}

	.progress-filter .container .sub-container:not(:last-child):after {
		content: '';
		display: none;
	}

}