/*

pretendo.css -
main css file of the pretendo website

*/

/*

for home page only.
sets the background

*/
.hp-background {

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

/*

homepage container for the title and stuff

*/
.hp-container {
    
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    left: 0%;
    z-index: 100;

}

/*

title text

*/
.title {

    font-family: "Overpass Mono", monospace;
    font-size: 500%;
    line-height: 0;

}

/*

main text

*/
.text {

    font-family: "Space Mono", monospace;
    font-size: 150%;

}

/*

icon

*/
.icon {

    position: relative;
    height: 10%;
    width: 10%;

}
  