.contentWrapper.userPage {
    display: flex;
    justify-content: center;
    align-items: center;
}
body footer {
    padding: 0;
    box-shadow: 0 -3px 10px 0px rgba(0, 0, 0, 0.07);
}
body footer .content {
    border-radius: 0;
}