@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
	margin: 0;
	font-family: Roboto;
	font-weight: 400;
	display: flex; flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 300px;
	background: #673db6; #eeeeef
}


.test0 {
	width: 80%;
	max-width: 400px;
	margin-top: 100px;
}

.headerWrapper {
	background: #673db6;
	color: white;
}

.header0 {
	padding: 20px 0;
}
.header0 a {
	padding: 20px;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	font-size: 1em;
}
.header0 a.project {
	font-weight: 600;
	background: #5231a7;
	padding: 20px 40px;
	color: white;
}

.header1 {
	width: 100%;
	height: 300px;
}
.header1div {
	width: 80%;
	max-width: 600px;
}
.header1div .regular {
	margin-top: 10px;
}

.header2 {
	height: 100px;
}

.mainDiv {
	margin-top: -100px;
}

.card {
	padding: 5vw 12vw;
	background: white;
	box-shadow: 0px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	margin-bottom: 50px;
}
.specialCard {
	padding: 5vw 5vw;
}

.cardProfiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile {
	min-width: 250px;
	width: 50%;
	max-width: 550px;
	margin-bottom: 10px;
}
.profile .profileIcon {
	margin-right: 10px;
}
.profile .profileIcon img {
	width: 80px; height: 80px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.profileText {
	width: calc(100% - 130px);
	min-width: 200px;
}
.profileText p {
	margin-top: 5px;
}

.divider {
	width: 175px;
	height: 2px;
	background: white;
}

.hugeText {
	font-size: 3.5em;
	font-weight: 700;
	letter-spacing: 0.25em;
	margin: 0; margin-bottom: 10px;
}
.highlight {
	color: #673db6;
	margin-bottom: 0;
	font-size: 1em;
}
.smallheading {
	font-size: 1.25em;
}
.text {
	font-size: 1em;
	color: #707070;
}

.heading1 {
	color: #191919;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 2.5em;
}
.secondary {
	font-weight: 100;
	color: #383838;
}

button {
	margin: 0; padding: 0;
	border: 0; border-radius: 0;
	font-family: Roboto;
	font-size: 1em;
}
.button1 {
	background: #673db6;
	color: white;
	padding: 12px 80px;
	border-radius: 10px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.17);
}
.button2 {
	background: white;
	padding: 10px 45px;
	color: #673db6;
	border: 1px solid #673db6;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
	position: absolute;
	bottom: 20px;
}
.card20 {
	width: 100%;
	max-width: 400px;
	min-width: 200px;
	margin-bottom: 20px;
}
.card21 {
	align-items: center;
	width: 100%;
	max-width: 650px;
}
.smallCardBit {
	width: calc(95% - 400px);
	min-width: 300px;
}
@media screen and (max-width: 1000px) {
	.smallCard {
		margin-bottom: 20px;
	}
	body {
		background: yellow;
	}
}
.smallCard {
	width: 100%;
	max-width: 250px; height: 350px;
	padding: 20px;
	border: 1px solid #9474cc; border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
	position: relative;
}
.smallCard h3 {
	font-size: 1.5em !important;
	margin: 0;
}




.bodyDiv {
	width: 90%;
	max-width: 1500px;
}
.bold {
	font-weight: 700;
}
.centerX {
	display: flex;
	justify-content: center;
}
.centerY {
	display: flex;
	align-items: center;
}
.top {
	display: flex;
	align-items: flex-start;
}
.wrap {
	display: flex;
	flex-wrap: wrap;
}
.uppercase {
	text-transform: uppercase;
}
.regular {
	font-weight: 300;
}
.fw {
	width: 100%;
}
.noMargin {
	margin: 0;
}
.spread {
	display: flex;
	justify-content: space-between;
}
.centerText {
	text-align: center;
}