.headerWrapper {
	padding: 1rem 0 !important;
	background: rgba(19, 23, 51, 0.9);
	position: fixed !important;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 99;
	backdrop-filter: blur(2rem);
	border-bottom: 1px solid var(--bg-shade-2);

	transition: backdrop-filter 300ms, background 300ms;
}

.headerWrapper.mobileOpen {
	backdrop-filter: none;
	background: var(--bg-shade-2);

	max-height: 100vh;
	overflow: hidden scroll;
}

.header {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 2rem;
}

.logo {
	margin-left: -8px;
}

.navWrapper {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.nav {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	gap: 2rem;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	gap: 2rem;
}

.nav .dropdownTriggers {
	position: relative;
	gap: 0;
}

.nav .dropdownTriggers li:first-of-type button,
.rightIconsWrapper button:first-of-type {
	padding-right: 1rem;
}

.nav .dropdownTriggers li:last-of-type button,
.rightIconsWrapper button:last-of-type {
	padding-left: 1rem;
}

.nav li button,
.rightIconsWrapper button {
	appearance: none;
	border: none;
	padding: 0;
	margin: 0;
	background: none;
	color: var(--text-shade-1);
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5ch;
}

.nav ul button:hover {
	color: var(--text-shade-3);
}

.nav li.upgrade button {
	background: var(--bg-shade-3);
	color: var(--accent-shade-3);
	border-radius: 2rem;
	font-weight: bold;
	padding: 2px 12px;
}

.nav li.upgrade button:hover {
	background: var(--accent-shade-1);
	color: var(--text-shade-3);
}

.rightIconsWrapper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

@media screen and (max-width: 840px) {
	.progress {
		display: none;
	}
}

.mobileOnly {
	display: none !important;
}

@media screen and (max-width: 630px) {
	.desktopOnly {
		display: none !important;
	}

	.mobileOnly {
		display: flex !important;
	}
}
