<link rel="stylesheet" href="/assets/css/aprilfools.css" />

<!-- The same font Big N uses. Licence legally obtained through Adobe Fonts. -->
<link rel="stylesheet" href="https://use.typekit.net/gok5tsu.css" />

{{> header}}

<div class="wrapper">

	<div class="announcement-hero new-font">
		<p><span class="pretendo">Pretendo Network</span> is now</p>
		<h1 class="new-font">Nintendo Switch Online<br>+<br>Legacy Pack!</h1>
	</div>

	<div class="subscribe bro-what new-font">
		<h1>Power up now with one easy click!
			<a href="#footnote-1">
				<sup>1</sup>
			</a>
		</h1>

		<a href="https://youtu.be/2Gc5cuekQto?t=10" class="buy-now" target="_blank">
			<button class="button primary">
				Buy now
			</button>
		</a>
	</div>

	<div class="bro-what new-font">
		<h1>What is Nintendo Switch Online + Legacy Pack?</h1>
		<p>Nintendo Switch Online + Legacy Pack is the new membership that gives you access to all first-party online servers for Nintendo Wii U and Nintendo 3DS, with no added costs
			<a href="#footnote-2">
				<sup>2</sup>
			</a>
		!</p>

		<p>Experience the Nintendo Wii U's infinite
			<a href="#footnote-3">
				<sup>3</sup>
			</a>
		library of first party games like never before, with fan-favorite titles such as Mario Kart 8 and Super Mario Maker making a return, and challenge your friends on the go with the Nintendo 3DS's Super Smash Bros. and Miitopia!</p>
	</div>


	<div class="bro-what dotted-bg new-font">
		<h1>Why subscribe to Nintendo Switch Online + Legacy Pack when the online servers are still up and most first-party games have already been ported to the Nintendo Switch?</h1>
		<p>Uhhhhhhhhhhhhhhhhh next question.</p>
	</div>

		<div class="bro-what new-font">
		<h1>Is this an April Fools' joke?</h1>
		<p>No.
		<a href="#footnote-4">
			<sup>4</sup>
		</a>
		<br>
		We've been working closely with Nintendo behind the scenes for quite some time
		<a href="#footnote-5">
			<sup>5</sup>
		</a>
		, and today's date was chosen completely at random. You can check out Nintendo's announcement in the latest Nintendo Direct here: <a href="https://youtu.be/yPYZpwSpKmA" target="_blank">What you need to know about the new Nintendo Switch Online + Legacy Pack membership plan.</a></p>
	</div>

	<div class="bro-what footnotes new-font">
		<p id="footnote-1"><sup>1</sup> May require signing your soul over to Nintendo Co., Ltd.</p>
		<p id="footnote-2"><sup>2</sup> Excluding costs for other subscriptions required to use the Nintendo Switch Online + Legacy Pack subscription plan. Required subscriptions include but are not limited to: Nintendo Switch Online, Nintendo Switch Online + Expansion Pack, Nintendo Switch Online + Rumble Pak, Nintendo Switch Online + Offline Play Pack, Nintendo Switch Online + Yet Another Port Pack, Nintendo Switch Online + Dr. Kawashima's Brain Training / Brain Age "You Really Liked The Nintendo Wii U Virtual Console Title, So We're Bringing It Back" Pack. Total costs (Excl. Tax) $299.99 billed twice every 2 months.</p>
		<p id="footnote-3"><sup>3</sup> Statement not legally binding. Rounding up.</p>
		<p id="footnote-4"><sup>4</sup> For legal reasons, that's a joke.
		<p id="footnote-5"><sup>5</sup> Pretendo Network is in no way associated with Nintendo Co., Ltd. or any of its subsidiaries.</p>
		<p>Nintendo, Nintendo Wii U, Nintendo 3DS, Mario Kart 8, Super Mario Maker, Super Smash Bros., Miitopia, Nintendo Switch, Nintendo Switch Online, Nintendo Switch Online +, Nintendo Switch Online + Expansion Pack, and Rumble Pak are copyrights of Nintendo Co., Ltd. and/or its subsidiaries.<br>Happy April Fools'!</p>
	</div>

	{{> footer }}

</div>

<script>
	document.querySelector("#Pretendo").setAttribute("font-family", "museo-sans, sans-serif");
	document.querySelector("#Pretendo > tspan").innerHTML = "Nintendo Switch Online + Legacy Pack";
	document.querySelector(".logo-link > svg").setAttribute("width", 350);
</script>
