.dropdownContent .link,
.dropdownContent .localeSelector {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	padding-right: 5rem;
	border-radius: 6px;
	font-size: 1rem;
	max-width: 90vw;
	min-width: 24rem;
}

.dropdownContent .localeSelector {
	padding: 0.5rem 1rem;
}

.dropdownContent .link .iconWrapper {
	background: var(--bg-shade-0);
	color: var(--accent-shade-2);
	display: flex;
	padding: 12px;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
}

.dropdownContent .link p,
.dropdownContent .localeSelector p {
	margin: 0;
	margin-top: 4px;
	font-weight: 300;
	color: var(--text-shade-1);
}

.dropdownContent .localeSelector p {
	font-weight: 400;
}

.dropdownContent .link .arrow {
	display: none;
	position: absolute;
	right: 1.5rem;
	color: var(--accent-shade-1);
}

.dropdownContent,
.dropdownContent .link,
.dropdownContent .localeSelector {
	animation: appear 0.75s;
}

.link.progress {
	display: none;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.dropdownContent .link:hover,
.dropdownContent .localeSelector:hover {
	background: var(--bg-shade-3);
}

.dropdownContent .link:hover .iconWrapper {
	color: var(--accent-shade-3);
}

.dropdownContent .link:hover .arrow {
	display: block;
}

@media screen and (max-width: 840px) {
	.link.progress {
		display: flex;
	}
}

@media screen and (max-width: 630px) {
	.dropdownContent .link:hover .arrow {
		display: none;
	}
}

@media screen and (max-width: 360px) {
	.dropdownContent .link .iconWrapper {
		padding: 6px;
	}
}

.dropdownContent.mobile {
	width: 100%;
}

.dropdownContent.mobile .localeSelector {
	width: 100%;
}

.dropdownContent.mobile .link,
.dropdownContent.mobile .localeSelector {
	gap: 0.75rem;
	padding: 0.5rem;
	margin-left: -0.5rem;
	width: calc(100% + 1rem);
	min-width: unset;
	max-width: unset;
}

.dropdownContent.mobile .link p,
.dropdownContent.mobile .localeSelector p {
	margin-top: 0;
}

.dropdownContent.mobile .link h4,
.dropdownContent.mobile .localeSelector h4 {
	font-weight: 400;
	width: fit-content;
}

.dropdownContent.mobile .link .iconWrapper {
	padding: 10px;
	border-radius: 6px;
}
