.caption {
	font-size: 1rem;
	line-height: 1.5rem;
	max-width: 66%;
	margin: 1.5rem 0;
}

.showcaseSection {
	position: relative;
	padding-bottom: 0;
}

.showcaseSection::after {
	content: '';
	width: 400vw;
	height: calc(100% + 256px);
	margin-left: -50vw;
	background: linear-gradient(0deg, rgba(19, 22, 36, 0) 0%, var(--bg-shade-0) 100%);
	position: absolute;
	top: 48px;
	z-index: -1;
}

.showcaseTail {
	display: flex;
	align-items: center;
	background: var(--bg-shade-0);
	padding: 180px 0;
}

.showcaseTail .content {
	display: grid;
	grid-auto-flow: row;
	max-width: var(--maxwidth);
	margin: auto;
	gap: 40px;
}

.showcaseTail .image {
	max-width: min(600px, 50%);
	height: auto;
	margin: auto;
}

.showcaseTail .text {
	text-align: center;
}

.showcaseTail .caption {
	margin: 1rem auto 2rem;
}

.teamWrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -10px;
	margin-top: 80px;
}

@media screen and (max-width: 840px) {
	.showcaseTail {
		padding: 90px 0;
	}

	.showcaseTail .image {
		margin: auto;
		width: 100%;
		max-width: 600px;
	}
}
