{{#section 'head'}}
	<link rel="stylesheet" href="/assets/css/blogpost.css" />
{{/section}}

{{> header}}

<div class="wrapper blog">

	<div class="card-wrap">
		<div class="purple-card blog-card">

			{{{ htmlPost }}}

		</div>

	</div>

	{{> footer }}

</div>

{{#section 'foot'}}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
	<link rel="stylesheet" href="/assets/css/highlightjs.css">
	<script>hljs.highlightAll();</script>
{{/section}}
